
.topHeader{
    @apply h-[45px] py-2 px-4 flexBetween bg-[--colorUstensils-brown] text-[#411f00] text-sm font-medium;
    letter-spacing: 1.5px;
    background: #dddbdb;
    border: 0;
}

.topHeader .contacts{
    @apply flexCenter gap-3;
}

.topHeader div{
    @apply flexCenter gap-2 text-[#411f00];
}

.topHeader .adresse, .topHeader .email{
    @apply  hidden md:flex justify-center items-center gap-2
}

.topHeader .button a{
    @apply  bg-[#411f00] text-white py-2 px-3 rounded-sm;
}

#header{
    width: 100%;
    background: #00000038;
    position: absolute;
    top: 45px;
    z-index: 1000;
    transition: all 0.4s ease-in-out;
}
/* Les icones */
.header-tools__item{
    @apply flexCenter gap-3;
}

.header-flex{
    @apply mx-10 py-3 flexCenter;
}
.header-right{
    @apply flexBetween gap-7;
}

.header-tools{
    @apply flexBetween gap-4;
}

.navigation .navigation-list{
    @apply flexBetween gap-8;
}
.navigation .navigation-list .navigation-item a{
    @apply text-white font-bold text-[13px] uppercase;
}

.navigation-active{
    @apply text-yellow1 relative !important;
}

.navigation-active::after{
    content: "";
    position: absolute;
    left: 0;
    top: 23px;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--color2-yellow);
    opacity: 1;
    z-index: 1000;
}

.navlink {
    transition: 0.5s;
    position: relative;
}
.navlink:hover {
    color: var(--color2-yellow) !important;
    transition: 0.4s;
}

.navlink:hover::after{
    content: "";
    position: absolute;
    left: 0;
    top: 23px;
    width: 100%;
    height: 5px;
    border-block: 1px solid var(--color2-yellow);
    opacity: 1;
    transform: scale(1) 500ms ease;
    z-index: 1000;
}

/* HEADER FIXE */
.header-sticky{
    position: fixed !important;
    top: 0 !important;
    background: #fff !important;
    box-shadow: 2px 2px 5px #2a272741;
}
.header-sticky .navlink{
    color: var(--black) !important;
}
.header-sticky .logo{
    width: 100px;
}
.header-sticky .navlink:hover {
    color: var(--color2-yellow) !important;
    transition: 0.4s;
}
.header-sticky .navigation-active {
    color: var(--color2-yellow) !important;
}
.header-sticky .nav-open-btn .line {
    background: #000;
}


/* HEADER MOBILE */
.header-mobile-container{
    display: none;
}


/* BOUTON RESERVER */

    .reservation-container{
        @apply mx-auto;
        padding: 10px 0;
        background-color: transparent;
        color: var(--color2-yellow);
        border-radius: 2px;
        position: relative;
        max-width: max-content;
        font-weight: bold;
        overflow: hidden;
        z-index: 1;
        overflow: hidden;
        transition: transform .5s ease-in-out;
    }
    .reservation-container:hover{
        transform: scale(1.01);
    }

   .btn{
        @apply text-xs md:text-sm;
        background-color: transparent;
        color: var(--color2-yellow);
        padding: 10px 40px;
        border-radius: 2px;
        border: 2px solid var(--color2-yellow);
        position: relative;
        max-width: max-content;
        font-weight: bold;
        overflow: hidden;
        z-index: 2;
   }

   .btn-primary:hover{
    color: var(--white);
    background: transparent !important;
    border: 2px solid var(--color2-yellow);
  }
  

  .btn-primary::before { 
    content: "";
    position: absolute;
    top: -20px; 
    transition: top 500ms ease-in-out;
    border-radius: 50%;
    z-index: -1;
   }

.btn-primary:hover::before { 
    content: "";
    background-color: var(--color2-yellow);
    top: 0; 
    left: 50%;
    padding: 10px 20px;
    position: absolute;
    width: 200%;
    height: 200%;
    transform: translate(-50%, -50%);
}
  

/* ICON DE CART */

.cartIcon, .wishIcon{
    /* position: ; */
}
.cartIcon svg, .wishIcon svg{
    /*  */
}
.cart-amount{
    @apply text-[--color2-yellow] font-bold flexCenter absolute -top-3 -right-2;
    font-size: 0.8rem;
}

@media screen and (max-width: 1000px) {
    .header{
        display: none;
    }

    .header-mobile{
        width: 100%;
        padding: 15px;
        background: #00000038;
        position: absolute;
        top: 45px;
        z-index: 1000;
        transition: all 0.4s ease-in-out;
    }
    .header-mobile-container{
        display: flex;
        justify-content: space-between;
    }
    .header-mobile-container .logo{
        width: 90px;
        
    }

    .navbar{
        position: fixed;
        left: 0 !important;
        transition: left .6s ease-in-out;
        overflow-y: auto;
    }
    .header-mobile .navigation-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    
    .header-mobile .icones{
        display: flex;
        gap: 20px;
    }

    .open{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .nav-open-btn {
        padding: 12px;
        padding-inline-end: 0;
        position: relative;
        z-index: 1;
    }
      
    .nav-open-btn .line {
        display: block;
        width: 30px;
        height: 2px;
        background-color: white;
        margin-block: 4px;
        transform-origin: left;
        animation: menuBtn 400ms ease-in-out alternate infinite;
    }

    /* SIDEBAR */

    .header-mobile .header-sidebar{
        width: 50%;
        min-width: 300px;
        height: 100%;
        padding: 10px 0 0 20px;
        background: #f3f3f3;
        position: fixed;
        top: 0;
        left: -100%;
        transition: left .6s ease-in-out;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        overflow-y: scroll;
        z-index: 10000;
    }

    .scrollHidden{
        overflow-y: hidden;
    }

    .header-sidebar .navigation{
        width: 100%;
    }
    .header-sidebar .navbar-list{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-sidebar .navbar-item{
        width: 100%;
        padding: 10px 15px;
        border-bottom: 1px dotted #eaaa3a;
        transition: .4s;
        font-weight: 600;
        color: #2b2929;
    }
    .header-sidebar .navbar-item:hover{
        padding: 10px 25px;
    }
    .header-sidebar .navbar-item a{
       font-size: 16px;
    }
    .header-sidebar .navbar-item:hover a{
       color: var(--color2-yellow);
       transition: .4s;
    }

    .overlay{
        width: 100%;
        height: 1000vh;
        background: #000000a0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .6s;
        opacity: 0;
        display: none;
    }

    .overlayActive{
        opacity: .8;
        background: #000;
        z-index: 100;
        display: block;
    }

    .closeBtn{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(154, 89, 25);
        cursor: pointer;
        position: absolute;
        left: 90%;
        top: 10px;
    }

    .sidebar-infos{
        text-align: center;
        font-size: 1.1rem;
    }

    .sidebar-infos .adresse{
        @apply mt-0;
        font-size: 1.1rem;
    }

    .sidebar-infos .contact{
        font-size: 1.04rem;
        color: #595802;
    }
      
    @keyframes menuBtn {
        0% { transform: scaleX(1); }
        100% { transform: scaleX(0.5); }
    }
      
    .nav-open-btn .line-2 { animation-delay: 150ms; }
      
    .nav-open-btn .line-3 { animation-delay: 300ms; }
      
    
}

/* HEADER SLIDER */

.hero .slider-btn { display: none;}

.hero {
    @apply md:h-[100vh];
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.hero .cover{
    width: 100%;
    height: 100%;
    padding-top: 10%;
    background: #000000c4;
    position: absolute;
    @apply flexColumn;
}

.hero h1{
    @apply roboto font-bold lg:text-[4rem] md:text-[3rem] text-[2rem] ;
    /* line-height: 55px; */
}
@media screen and (max-width: 1000px) {
    .hero{
        height: 70vh;
    }
    .slider-btn{
        display: none !important;
    }
}

.hero .slider-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  padding-block-start: 100px;
  opacity: 0;
  visibility: hidden;
  transition: 1000ms ease;
  z-index: 1;
}

.hero .slider-item.active {
  opacity: 1;
  visibility: visible;
}

.hero .slider-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  pointer-events: none;
  user-select: none;
  z-index: -1;
}
.hero .slider-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero .slider-item.active .slider-bg {
  animation: smoothScale 7s linear forwards;
}

@keyframes smoothScale {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}

.hero .section-subtitle::after { margin-block: 14px 20px; }

.hero-text { 
    @apply font-medium text-[10px] md:text-[12px];
    margin-block: 10px 40px;
    letter-spacing: 2px;
 }
.hero .section-subtitle{
    margin-top: 0;
}

.hero .btn { margin-inline: auto; }

.hero-btn {
  @apply text-xs !important;
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 2;
  background-color: #ba7d12;
  width: 110px;
  height: 110px;
  padding: 12px;
  transform: scale(0.6);
}

.hero-btn img {
  margin-inline: auto;
  margin-block-end: 6px;
}

.hero-btn .span {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  line-height: 0.2em;
}

.hero-btn::after {
  inset: 0;
  border: 1px solid #ba7d12;
  animation: rotate360 15s linear infinite;
}
@keyframes rotate360 {
    0% { transform: rotate(0); }
    100% { transform: rotate(1turn); }
  
}

.slider-reveal {
  transform: translateY(30px);
  opacity: 0;
}

.hero .slider-item.active .slider-reveal {
  animation: sliderReveal 1s ease forwards;
}

.hero-title{
    @apply max-w-[80%] lg:max-w-[60%];
    color: white;
}
.section-subtitle{
    color: #ba7d12;
}
.hero-text{
    color: #ededed;
    font-weight: bold;;
}

@keyframes sliderReveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hero .slider-item.active .section-subtitle { animation-delay: 500ms; }

.hero .slider-item.active .hero-title { animation-delay: 1000ms; }

.hero .slider-item.active .hero-text { animation-delay: 1.5s; }

.hero .slider-item.active .btn { animation-delay: 2s; }




.hero .slider-btn {
    display: grid;
    position: absolute;
    z-index: 1;
    color: #ba7d12;
    font-size: 2.4rem;
    border: 1px solid #ba7d12;
    width: 45px;
    height: 45px;
    place-items: center;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    transition: 250ms ease;
  }

  .hero .slider-btn .angles { transform: rotate(-45deg); }

  .hero .slider-btn.prev { left: 30px; }

  .hero .slider-btn.next { right: 30px; }

  .hero .slider-btn:is(:hover, :focus-visible) {
    background-color: #ba7d12;
    color: black;
  }

