.fi-main{
    background: #e9e9e9;
}

.dark .fi-main{
    background: black;
}
.dashAccueil {
    /*  */
}

.dashAccueil .orderModalContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .dashAccueil .orderModalContent {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}

.dashAccueil .titre {
    font-size: 1.5rem; /* text-2xl */
    font-weight: bold;
    margin-left: 1.25rem;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width: 768px) {
    .dashAccueil .titre {
        font-size: 1.875rem; /* text-3xl */
    }
}

.dashAccueil .orderMainContent {
    width: 100%;
    background: #f5f5f5;
    /* background: #ededed; */
    padding: 1rem;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.dark .dashAccueil .orderMainContent {
    background: #18181b;
    box-shadow: 2px 2px 5px #00000099;
}

.dashAccueil .cmdStatusContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.25rem;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #ffffffd4;
}

.dark .dashAccueil .cmdStatusContent {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background: #2d2d2d;
}

.dashAccueil .cmdStatusContent input[type="radio"] {
    display: none;
}

.dashAccueil .cmdStatusContent input:checked + label {
    background: #025239;
    color: white;
    border-radius: 0.375rem;
}

.dark .dashAccueil .cmdStatusContent input:checked + label {
    /* background: var(--color1-green); */
    background: #ce9c2d;
    color: white;
}

.dashAccueil .cmdStatusContent label {
    width: 100%;
    padding: 9px 12px;
    text-align: center;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dashAccueil .cmdStatusContent label:hover {
    background: #025239;
    color: white;
    border-radius: 0.375rem;
}

.dark .dashAccueil .cmdStatusContent label:hover {
    background: #ce9c2d;
}


.dashAccueil .platsContent {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.dashAccueil .platJourTitre {
    color: #18181b;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-block: 10px;
}


@media (max-width: 640px) {
    .dashAccueil .platJourTitre {
        font-size: 23px;
    }
}


.dark .dashAccueil .platJourTitre {
    color: #fcfcfc;
}


.dashAccueil .productDiv, .editOrderModal .productDiv{
    width: 130px;
    background: #fff;
    box-shadow: 2px 2px 5px #cfccccbc;
    border-radius: 0.375rem;
    overflow-x: hidden;
    text-align: center;
    position: relative;
}


.dark .dashAccueil .productDiv, .dark .editOrderModal .productDiv {    
    background: #2d2d2d;
    box-shadow: 2px 2px 5px #101010bf;
}

@media (max-width: 640px) {
    .dashAccueil .productDiv, .editOrderModal {
        width: 120px;
    }
}

.dashAccueil .productDivImg, .editOrderModal .productDivImg {
    width: 100%;
    height: 70px;
    object-fit: cover;
}

@media (min-width: 640px) {
    .dashAccueil .productDivImg, .editOrderModal .productDivImg {
        height: 75px;
    }
}

.dashAccueil .productDiv .name, .editOrderModal .productDiv .name {
    color: #2d2d2d;
    font-weight: 600;
    font-size: 13px;
    margin-top: 0.25rem;
}

.dark .dashAccueil .productDiv .name, .dark .editOrderModal .productDiv .name {
    color: #d1cece;
}

@media (min-width: 768px) {
    .dashAccueil .productDiv .name, .editOrderModal .productDiv .name {
        margin-top: 0.5rem;
        font-size: 14px;
    }
}

.dashAccueil .productTextContent, .editOrderModal .productTextContent {
    margin-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: flex;
    flex-direction: column;
}


.dashAccueil .productDiv .prix, .editOrderModal .productDiv .prix {
    /* color: var(--color2-yellow); */
    color: #ce9c2d;
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: 0.25rem;
}

.dashAccueil .productDiv .category, .editOrderModal .productDiv .category {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    font-weight: 500;
    color: #4b5563;
}

.dark .dashAccueil .productDiv .category, .dark .editOrderModal .productDiv .category {
    color: #a7aaae;
}

/* Zone de recherche principale */
.zoneSearchContent {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
}

/* Boîte de recherche */
.searchBox {
    position: relative;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
}


.dark .searchBox {
    background-color: #2d2d2d;
    border: 1px solid #242323;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Icone de recherche */
.divIconSearch {
    position: absolute;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Champ de recherche */
.inputSearch {
    width: 100%;
    padding: 8px 32px 8px 40px; /* Ajuste l'espace pour l'icône à gauche */
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s ease;
    color: #333;
}


/* État au survol */
.searchBox:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

/******************* LES CATEGORIES ******************/
.adminCategoriesContent {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
}


.adminCategoriesContent .btnModalCategory {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    gap: 0.5rem;
    
}

    @media (min-width: 768px) {
        .adminCategoriesContent .btnModalCategory {
            background: #fff;
            box-shadow: 2px 2px 5px #cfccccbc;
            padding: 0.75rem 0.5rem;
            border-radius: 6px;
        }

        .dark .adminCategoriesContent .btnModalCategory {
            background: #2d2d2d;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
            color: white;
        }
        .adminCategoriesContent .adminCatName {
            color: #4B5563;
            background: transparent !important;
            padding: 0 !important ;
            box-shadow: none !important;
            border-radius: 0;
            font-size: 13px;
        }
    }


.adminCategoriesContent .adminCatName {
    font-weight: 600;
    font-size: 0.75rem;
    color: #1A1F2C;
    background: #fff;
    box-shadow: 2px 2px 5px #cfccccbc;
    box-shadow: 2px 2px 10px rgba(49, 48, 48, 0.253);
    padding: 0.5rem 0.75rem;
    border-radius: 9999px;
    transition: all 0.3s ease;
}

.dark .adminCategoriesContent .adminCatName {
    color: #c6c7ca;
    background: #282727;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
}

  
.adminCategoriesContent .btnModalCategory .adminCatImage {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}


.adminCategoriesContent .btnModalCategory .adminCatImageContent {
    display: none;
}

@media (min-width: 768px) {
    .adminCategoriesContent .btnModalCategory .adminCatImageContent {
      display: flex;
    }
}
  
.adminCategoriesContent .adminCatProductCount {
    display: none;
  }
  
  .adminCategoriesContent .adminCatProductCount span {
    margin-inline: 2px;
  }

  @media (min-width: 768px) {
    .adminCategoriesContent .adminCatProductCount {
      display: flex;
      font-weight: 500;
      font-size: 0.75rem;
      color: #4B5563;
      margin-top: 0.25rem;
    }
    .dark .adminCategoriesContent .adminCatProductCount {
        color: #c5c1c1;
    }
}
  

/****************** FIN CATEGORIES ******************/


/* SECTION rgb(218, 220, 222)ES DU JOUR */
.dashAccueil .invoiceContent {
    width: 100%;
    min-height: 100%;
    padding: 1rem;
    background: #f5f5f5;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.dark .dashAccueil .invoiceContent {
    background: #18181b;
    box-shadow: 2px 2px 5px #00000099;
}

@media (min-width: 768px) {
    .dashAccueil .invoiceContent {
        min-width: 300px;
    }
}

.dashAccueil .dayOrders {
    margin-top: 20px;
}

.dashAccueil .dayOrders .dayOrder {
    position: relative;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    font-size: 13px;
    box-shadow: 2px 2px 2px #ecececbd, -2px -2px 2px #ecececbd;
    background: #fff;
}

.dark .dashAccueil .dayOrders .dayOrder {
    border: 1px solid #131313;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
    background: #2d2d2d;
}

.dashAccueil .zoneTotal{
    /* border-2 border-dotted rounded-md mt-5 */
    margin-top: 20px;
    border: 2px dotted #5e5e5e;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px #efeeee, inset -2px -2px 2px #efeeee;
}

.dark .dashAccueil .zoneTotal{
    margin-top: 20px;
    border: 2px dotted #535151;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px #2d2d2d, inset -2px -2px 2px #2d2d2d;
}

.dashAccueil .zoneSearchContent {
    max-width: 100%;
}

@media (min-width: 768px) {
    .dashAccueil .zoneSearchContent {
        max-width: 500px;
    }
}

/* PAGE STATISTIQUES */
.dash-stats th {
    background: #1A1F2C;
    color: white;
    min-width: 120px !important;
}

.dash-stats .topPlats {
    font-size: 0.875rem;
    background: #f1f1f1;
}

.dash-stats .cartesStatistiques {
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.75rem;
}

@media (min-width: 768px) {
    .dash-stats .cartesStatistiques {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}

.dash-stats .cartesStatistiques h5 {
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 0.875rem;
}

.dash-stats .cartesStatistiques .carteContent {
    padding: 0.75rem;
    border-radius: 0.375rem;
    color: white;
    font-size: 0.75rem;
}

@media (min-width: 768px) {
    .dash-stats .cartesStatistiques .carteContent {
        font-size: 0.875rem;
    }
}

.badge{
    margin-top: 4px;
    background: #025239;
    padding: 2px 4px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.badge-success{
    background: #025239;;
}

.badge-warning{
    background: #ce9c2d;;
}

.badge-danger{
    background: #77050d;;
}

.btnAjouterPlats{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background: #ce9c2d;
    color: white;
    padding: 2px 0;
    border-radius: 3px;
    margin-top: 4px;
}

.btnRetirerPlats{
    background: #d5d1d1;
    box-shadow: 1px 1px 2px #00000099, -1px -1px 2px #00000099;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    padding: 2px;
}

.hidden{
    display: none;
}