/* INFOS CONTACT */
  

.fi-main{
    position: relative;
} 

.editOrderModal {
    width: 100%;
    height: 100%;
    min-height: 150vh;
    background: rgb(233, 233, 233);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.dark .editOrderModal {
    background: #000;
}

.editOrderModal .section-title{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 15px
}

.editOrderModal .contactInfos {
    width: 100%;
    margin: 0.75rem 0;
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 3rem;
    background: #fff;
    box-shadow: 2px 2px 5px #cecece6e, -2px -2px 5px #cecece6e;
    border-radius: 6px;
}
  
.dark .editOrderModal .contactInfos {
    background: #18181b;
    box-shadow: 2px 2px 5px #2624246e, -2px -2px 5px #2624246e;
}
  
.editOrderModal .contactInfos .infosContent {
    display: flex;
    /* flex-direction: column; */
    gap: 0.7rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 680px) {
    .editOrderModal .contactInfos .infosContent {
        flex-direction: column;
    }
}
  
  
.editOrderModal .contactInfos input::placeholder {
    color: #939393;
}

.editOrderModal .contactInfos .icon-input {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 4rem;
    box-shadow: 2px 2px 2px #ececec9c;
    background: #fff;
}

.dark .editOrderModal .contactInfos .icon-input {
    box-shadow: 2px 2px 2px #212020a3;
    background: #0d0d0d;
    border: none;
}

.editOrderModal .contactInfos .icon-input input {
    outline: 0;
    border: 0;
    width: 100%;
    background: transparent;
    color: #ccc;
}


.editOrderModal .btnRetirer, .editOrderModal .btnAjouter{
    /* text-center px-2 py-[2px] rounded-sm text-white bg-[--color1-green] text-xs */
    text-align: center;
    padding-inline: 6px;
    padding-block: 2px;
    border-radius: 3px;
    color: white;
    font-size: .7rem;
    margin-top: 4px;
    font-weight: 500;
    box-shadow: 2px 2px 2px #00000049;
}

.editOrderModal .btnRetirer{
    background: #520203;
}
.editOrderModal .btnAjouter{
    background: #025239;
}

.editOrderModal .modesPayement,
.editOrderModal .modesDeLivraison {
    width: 100%;
    margin: 0.75rem 0;
    margin-bottom: 3rem;
    padding: 15px 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 2px 2px 5px #cecece6e, -2px -2px 5px #cecece6e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.25rem;
}
  
  
.dark .editOrderModal .modesPayement,
.dark .editOrderModal .modesDeLivraison {
    background: #18181b;
    box-shadow: 2px 2px 5px #2624246e, -2px -2px 5px #2624246e;
}


.editOrderModal .modesPayementContent,
.editOrderModal .modesDeLivraisonContent {
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.45rem;
}
  

.editOrderModal .payementItem, .editOrderModal .livraisonItem{
    background: #ebeaea;
    color: black;
    border-radius: 0.35rem;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px #5d5b5b97;
    font-size: 15px;
}

.dark .editOrderModal .payementItem, .dark .editOrderModal .livraisonItem{
    background: #151515;
    color: white;
    box-shadow: 2px 2px 2px #10101097;
}

.editOrderModal .modePayementSelected, .editOrderModal .modeLivraisonSelected{
    background: #025239;
    border-radius: 0.35rem;
    color: white;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px #6464646e;
    font-size: 15px;
}

.dark .editOrderModal .modePayementSelected, .dark .editOrderModal .modeLivraisonSelected{
    background: #454645;
    box-shadow: 2px 2px 2px #1010106e;
}

/* PRODUITS CHOSIS */

.editOrderModal .produitsChoisis,
.editOrderModal .autresProduits {
    width: 100%;
    margin: 0.75rem 0;
    margin-bottom: 3rem;
    padding: 15px 20px;
    border-radius: 6px;
    background: #f8f8f8;
    box-shadow: 2px 2px 5px #cecece6e, -2px -2px 5px #cecece6e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
  
.produitsChoisis .pdtsChoisisContent{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
  
.dark .editOrderModal .produitsChoisis,
.dark .editOrderModal .autresProduits {
    background: #18181b;
    box-shadow: 2px 2px 5px #2624246e, -2px -2px 5px #2624246e;
}

.editOrderModal .autresProduits .produitsContent {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
  
.editOrderModal .searchBox{
    margin-bottom: 1rem;
    background: #ebeaea;
    box-shadow: 2px 2px 5px #b5b5b549 inset;
    transition: .4s;
}
  
.dark .editOrderModal .searchBox{
    background: #0d0d0d;
    box-shadow: 2px 2px 5px #000000 inset;
}

.editOrderModal .searchBox:hover{
    box-shadow: 2px 2px 5px #b5b5b549 inset;
}

.editOrderModal .btnsContent{
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.editOrderModal  .btnConfirmer{
    /* py-2 px-4 rounded-md bg-[--color1-green] font-bold text-white text-[15px] */
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 500;
    color: white;
    font-size: 15px;
    background: #025239;
}

.editOrderModal  .btnAnnuler{
    /* py-2 px-4 rounded-md bg-[--color1-green] font-bold text-white text-[15px] */
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 500;
    color: white;
    font-size: 15px;
    background: #8b0f0f;
}

.editOrderModal  .btnVider{
    /* px-2 py-2 text-[12px] md:text-sm bg-[--color2-yellow] text-white rounded-sm shadow-md font-bold */
    padding: 6px 4px;
    font-size: 12px;
    background: #520202;
    color: white;
    border-radius: 3px;
    font-weight: bold;
}

.btnRetirerProduct{
    /* absolute top-2 right-2 bg-[#8a0707] p-[2px] rounded-full */
    position: absolute;
    top: 4px;
    right: 4px;
    background: #8a0707;
    padding: 2px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #00000068, -2px -2px 5px #00000068;
}

.editOrderModal  .qtyControlContent{
    /* flexCenter mx-auto gap-2 rounded-full bg-[#e9e9e9] p-1 shadow-sm */
    display: flex;
    justify-content: center;
    gap: 8px;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 2px 2px 5px #82808049;
    background: #e9e9e9;
    margin: 4px auto;
    padding: 4px;
}

.dark .editOrderModal  .qtyControlContent{
    box-shadow: 2px 2px 5px #00000049;
    background: #474646;
}

.confirmationBox{
    /* fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 */
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000063;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.confirmationContent{
    /* bg-white p-6 rounded-lg shadow-lg max-w-md w-full */
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #0000005c;
}

.confirmationContent h3, .confirmationContent p{
    color: black;
}

.confirmationContent .btnAnnulerCmd{
    /* px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 */
    padding: 8px 8px;
    background: #e4e4e7;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.confirmationContent .btnConfirmerCmd{
    /* px-4 py-2 bg-gray-200 rounded hover:bg-gray-300 */
    padding: 8px 8px;
    background: #003b27;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.btnModifierContent{
    padding-bottom: 20px
}


.btnRetour{
    display: flex;
    align-items: center;
    gap: 4px;
}

.dark .btnRetour .dark{
    display: flex;
}

.dark .btnRetour .light{
    display: none;
}

.btnRetour .light{
    display: flex;
}

.btnRetour .dark{
    display: none;
}