.fi-main{
    position: relative;
}
/* Boutton passer une commande */
.btnCommander {
    background-color: #1A1F2C;
    color: white;
    font-size: 13px;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-radius: 2px;
    border: 1px solid #1A1F2C;
    transition: 0.4s;
  }

  .btnVider{
    background: #7b1818;
    padding: 2px 10px;
    border-radius: 2px;
    font-size: 13px;
    color: white;
    font-weight: 500;
  }

.dark .btnCommander {
    background-color: #fff;
    color: #1A1F2C;
}
  @media (min-width: 768px) {
    .btnCommander {
      font-size: 15px;
    }
  }
  .btnCommander:hover {
    background-color: white;
    color: #1A1F2C;
  }
  
  .orderModal {
    width: 100%;
    height: 100%;
    min-height: 150vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0.75rem;
    border-radius: 2px;
    /* overflow-y: scroll; */
    background: rgb(233, 233, 233);
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
  }
  
  .dark .orderModal {
    background: #000000;
    box-shadow: 2px 2px 5px #00000099;
  }

  
  .bodyScrollNone {
    height: 100vh !important;
    overflow-y: hidden;
  }
  
  .closeModalBtn {
    background: rgb(121, 27, 13);
    padding: 3px;
    border-radius: 2px;
  }
  
  .fullContentModal {
    left: 70px !important;
    width: calc(100% - 70px) !important;
  }
  
  .orderModalNone {
    display: none;
  }
  

/******************* LES CATEGORIES ******************/

.titre2Content{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px dotted #7a7a7a73;
}

.titre2{
  font-weight: bold;
  font-size: 1.8rem;
}

.titre2Content span{
  font-size: 0.8rem;
  color: #3c3a3a;
}

.adminCategoriesContent {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}


.adminCategoriesContent .btnModalCategory {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 0.5rem;
  
}

  @media (min-width: 768px) {
      .adminCategoriesContent .btnModalCategory {
          background: #fff;
          box-shadow: 2px 2px 5px #cfccccbc;
          padding: 0.75rem 0.5rem;
          border-radius: 6px;
      }
        
      .dark .adminCategoriesContent .btnModalCategory {
        background: #2d2d2d;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
        color: white;
      }

      .adminCategoriesContent .selectedCategory {
          background: #ce9c2d;
      }

      .dark .adminCategoriesContent .selectedCategory {
        background: #ce9c2d;
      }

      .adminCategoriesContent .selectedCategory .adminCatName {
          color: #fff;
      }

      .dark .adminCategoriesContent .selectedCategory .adminCatName {
          color: #fff;
      }

      .adminCategoriesContent .adminCatName {
          color: #4B5563;
          background: transparent !important;
          padding: 0 !important ;
          box-shadow: none !important;
          border-radius: 0;
          font-size: 13px;
      }
  }


.adminCategoriesContent .adminCatName {
  font-weight: 600;
  font-size: 0.75rem;
  color: #1A1F2C;
  background: #fff;
  box-shadow: 2px 2px 5px #cfccccbc;
  box-shadow: 2px 2px 10px rgba(49, 48, 48, 0.253);
  padding: 0.5rem 0.75rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
}


.adminCategoriesContent .selectedCategory .adminCatName {
  background: #ce9c2d;
  color: #fff;
}

.dark .adminCategoriesContent .selectedCategory .adminCatName {
  background: #ce9c2d;
  color: #fff;
}


.dark .adminCategoriesContent .adminCatName {
  color: #c6c7ca;
  background: #282727;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
}


.adminCategoriesContent .btnModalCategory .adminCatImage {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}


.adminCategoriesContent .btnModalCategory .adminCatImageContent {
  display: none;
}

@media (min-width: 768px) {
  .adminCategoriesContent .btnModalCategory .adminCatImageContent {
    display: flex;
  }
}

.adminCategoriesContent .adminCatProductCount {
  display: none;
}

.adminCategoriesContent .adminCatProductCount span {
  margin-inline: 2px;
}

@media (min-width: 768px) {
  .adminCategoriesContent .adminCatProductCount {
    display: flex;
    font-weight: 500;
    font-size: 0.75rem;
    color: #4B5563;
    margin-top: 0.25rem;
  }
  .dark .adminCategoriesContent .adminCatProductCount {
      color: #c5c1c1;
  }

  .adminCategoriesContent .selectedCategory .adminCatProductCount {
   color: #fff;
  }
  .dark .adminCategoriesContent .selectedCategory .adminCatProductCount {
      color: #fff;
  }
}


/****************** FIN CATEGORIES ******************/



 
  
  .bgGreen {
    background: var(--color1-green) !important;
  }
  .bgGreen h5,
  .bgGreen p,
  .bgGreen span {
    color: white !important;
  }
  
  .orderModalContent {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    align-items: flex-start;
  }
  @media (min-width: 768px) {
    .orderModalContent {
      flex-direction: row;
    }
  }

/************* ZONE DE RECHERCHE ***************/
  
/* Zone de recherche principale */
.zoneSearchContent {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  justify-content: start;
}

/* Boîte de recherche */
.orderModal .searchBox {
  position: relative;
  width: 100%;
  min-width: 400px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) inset;
  transition: all 0.3s ease;
  outline: none;
}


.dark .orderModal .searchBox {
  background-color: rgb(45, 45, 45);
  border: 1px solid #242323;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) inset;
}

/* Icone de recherche */
.divIconSearch {
  position: absolute;
  left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Champ de recherche */
.inputSearch {
  width: 100%;
  padding: 8px 32px 8px 40px; /* Ajuste l'espace pour l'icône à gauche */
  font-size: 16px;
  border: 0;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #000;
}
.dark .inputSearch {
  color: #fff;
  box-shadow: none;
}

/************ FIN ZONE DE RECHERCHE **************/
  
  /******** LA PARTIE AFFICHAGE DES PRODUITS *******/
  .orderMainContent {
    width: 100%;
    padding-block: 20px;
  }
  @media (min-width: 768px) {
    .orderMainContent {
      width: 65%;
    }
  }

  .displayModalProducts{
    /* flex items-center gap-2 flex-wrap mt-5 */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  

  .displayModalProducts .productDiv {
    min-width: 145px;
    max-width: 220px;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow-x: hidden;
    text-align: center;
    border-radius: 0.375rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.dark .displayModalProducts .productDiv {
    /* background: #323131; */
    background: #2d2d2d;
    box-shadow: 2px 2px 5px #101010bf;
}

@media (min-width: 768px) {
  .displayModalProducts .productDiv {
      min-width: 200px;
  }
}

.displayModalProducts .productContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.5rem;
}

.displayModalProducts .productImage {
  width: 40px;
  height: 40px;
  border-radius: 0.375rem;
  object-fit: cover;
}

@media (min-width: 768px) {
  .displayModalProducts .productImage {
      width: 50px;
      height: 50px;
  }
}

.displayModalProducts .productText {
  text-align: left;
}

.displayModalProducts .productName {
  color: #1f2937;
  font-weight: 600;
  font-size: 13px;
}

.dark .displayModalProducts .productName {
  color: #dddddd;
}

@media (min-width: 768px) {
  .displayModalProducts .productName {
      font-size: 0.875rem;
  }
}

.displayModalProducts .productDescription,
.productSousCategory {
    font-weight: 400;
    font-size: 11px;
    color: #6b7280;
}

.dark .displayModalProducts .productDescription,
.dark .productSousCategory {
    color: #7f7e7e;
}

.displayModalProducts .desktop {
    display: none;
}

.displayModalProducts .mobile {
    display: block;
}

@media (min-width: 768px) {
  .displayModalProducts .desktop {
        display: block;
    }
    .displayModalProducts .mobile {
        display: none;
    }
}

.displayModalProducts .priceAndActions {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
}

.displayModalProducts .productPrice {
  color: #025239;
  font-weight: bold;
  font-size: 12px;
  margin-top: 0.25rem;
}

.dark .displayModalProducts .productPrice {
  color: white;
}

@media (min-width: 768px) {
  .displayModalProducts .productPrice {
      font-size: 0.875rem;
  }
}

.displayModalProducts .quantity {
  font-size: 0.75rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .displayModalProducts .quantity {
      font-size: 0.875rem;
  }
}

.displayModalProducts .icon {
  border-radius: 9999px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/**************** FIN MODAL MAIN CONTENT **************/


  
  /******** LA PARTIE FACTURE *******/
  .orderModal .invoiceContent, .orderModal .orderMainContent {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 0.75rem;
    background: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-radius: 6px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
  }

  
.dark .orderModal .invoiceContent, .dark .orderModal .orderMainContent {
  background: #18181b;
  box-shadow: 2px 2px 5px #1b1919;
}

  @media (min-width: 768px) {
    .orderModal .invoiceContent {
      width: 35%;
      min-width: 350px;
    }
  }

  
  .sectionPayement .contactInfos {
    width: 100%;
    margin-bottom: 0.75rem;
  }
  
  .sectionPayement .contactInfos .infosContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .sectionPayement .contactInfos input {
    outline: none;
    width: 100%;
    background: transparent;
    border: 0;
  }
  
  .sectionPayement .contactInfos input::placeholder {
    color: #939393;
  }
  
  .sectionPayement .contactInfos .icon-input {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    max-height: 4rem;
    box-shadow: 2px 2px 2px #ececec9c;
    background: #fff;
  }
  
  .dark .sectionPayement .contactInfos .icon-input {
    box-shadow: 2px 2px 2px #212020a3;
    background: #1f1f1f;
    border: none;
  }
  
  /* Boutons mode de payement */
  .modePayment {
    height: 4rem;
    color: black;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  }
  
  .sectionPayement {
    border-radius: 6px;
    margin: 0.5rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.08);
    background: white;
    border: 2px dashed #e8e8e8c3;
  }
  
  .dark .sectionPayement {
    background: #2e2e2e;
    /* box-shadow: 2px 2px 1px #1a1919ad, -2px -2px 1px #1a1919ad; */
    border: 2px dashed #1a1919c3;
  }

  .sectionPayement .coupon_payement {
    padding: 0.75rem;
    border-bottom: 2px dashed #e8e8e8c3;
  }
  
  .sectionPayement .payementModesContent,
  .sectionPayement .modesDeLivraisonContent {
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 0.5rem 0.25rem;
    margin: 0.75rem 0;
    width: 100%;
    border-radius: 6px;
    background: #f0f0f0;
    box-shadow: 2px 2px 2px #7c7b7b35, -2px -2px 2px #7c7b7b35;

    }
  
  
  .dark .sectionPayement .payementModesContent,
  .dark .sectionPayement .modesDeLivraisonContent {
    background: #18181b;
    box-shadow: 2px 2px 5px #262424f5, -2px -2px 5px #262424f5;
  }
  
  
  .sectionPayement .payementModesContent label,
  .sectionPayement .modesDeLivraisonContent label {
    width: 100%;
    padding: 9px 0.75rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .sectionPayement .payementModesContent label:hover,
  .sectionPayement .modesDeLivraisonContent label:hover {
    border-radius: 6px;
    background: #025239;
    /* background: var(--color1-green); */
    color: white;
  }

  .dark .sectionPayement .payementModesContent label:hover,
  .dark .sectionPayement .modesDeLivraisonContent label:hover {
    background: #2f2f2f;
  }
  
  .sectionPayement .payementModesContent input:checked + label,
  .sectionPayement .modesDeLivraisonContent input:checked + label {
    /* background: var(--color1-green); */
    background: #025239;
    color: white;
    border-radius: 6px;
  }
  
  
  .dark .sectionPayement .payementModesContent input:checked + label,
  .dark  .sectionPayement .modesDeLivraisonContent input:checked + label {
    background: #2f2f2f;
  }
  
  .orderModal .invoiceContent .productsContent {
    background: white;
    padding: 0.75rem;
    border-radius: 6px;
    box-shadow: 2px 2px 1px #c2c2c218, -2px -2px 1px #c2c2c218;
  }
  
  
  .dark .orderModal .invoiceContent .productsContent {
    background: #2e2e2e;
    box-shadow: none;
    border: 2px solid #1a1919c3;
  }
  
  .orderModal .invoiceContent .invoiceProduct {
    position: relative;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #e2e2e252;
  }
  
  .dark .orderModal .invoiceContent .invoiceProduct {
    background: #2c2b2b52;
    box-shadow: 2px 2px 2px #13121242, -2px -2px 2px #13121242;
    border: none;
  }


  .orderModal .invoiceContent .invoiceProduct .delete {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    color: #7b1818;
  }
  
  .orderModal .invoiceContent .invoiceProduct img {
    width: 4rem;
    height: 100%;
    object-fit: cover;
    border-radius: 0.125rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .orderModal .invoiceContent .invoiceProduct p {
    font-family: 'Roboto', sans-serif;
  }
  
  .orderModal .invoiceContent .invoiceProduct .productName {
    font-size: 0.75rem;
    font-weight: 700;
  }
  
  @media (min-width: 768px) {
    .orderModal .invoiceContent .invoiceProduct .productName {
      font-size: 0.875rem;
    }
  }
  
  .orderModal .invoiceContent .invoiceProduct .productDesc {
    font-size: 0.75rem;
    font-weight: 500;
    color: #6b7280; /* text-gray-500 */
  }
  
  .dark .orderModal .invoiceContent .invoiceProduct .productDesc {
    color: #c5c5c5; 
  }
  
  .orderModal .invoiceContent .invoiceProduct .invoiceProductHeader {
    width: 100%;
    padding-top: 0.5rem;
    display: flex;
    gap: 5px;
  }
  
  .orderModal .invoiceContent .invoiceProduct .productFooter {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    width: 100%;
  }
  
  .orderModal .productFooter .quantityControl p{
    padding-inline: 3px;
  }
    
.orderModal .quantityControl {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: #e5e7eb;
  padding: 0.25rem;
  border-radius: 9999px;
}


.dark .orderModal .quantityControl {
  background-color: #1a1a1bb1;
}
  .orderModal .quantityControl button {
    border-radius: 9999px;
    background: #ccc;
  }
  
  .orderModal .quantityControl p {
    font-size: 0.75rem;
    font-weight: 600;
  }

@media (min-width: 768px) {
  .displayModalProducts .quantityControl {
      gap: 0.5rem;
  }
}

  .orderModal .invoiceContent .invoiceProduct .subtotal {
    font-size: 0.85rem;
    font-weight: 600;
    color: #6b7280;
  }
  

  .dark .orderModal .invoiceContent .invoiceProduct .subtotal {
    color: #e6e6e6;
  }
  
  
  .orderModal .invoiceContent .selectServeur {
    /* py-2 px-3 bg-[#ececec] my-3 rounded-md shadow-md min-w-[150px] */
    width: 100%;
    min-width: 150px;
    padding-block: 7px;
    padding-inline: 10px;
    margin-bottom: 10px;
    background: #ececec;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #c1c1c1c9 inset;
    border: none;
  }
  
  
  .dark .orderModal .invoiceContent .selectServeur {
    background: #202021;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #272626;
    border: none;
    color: #989898;
  }

  .couponContent{
    /* w-3/3 flex gap-2 py-3; */
    width: 100%;
    display: flex;
    gap: 4px;
    padding-block: 9px;
  }

  .couponContent .couponInput{
    /* w-2/3 text-xs outline-none border border-gray-200 py-2 md:py-3 px-2 rounded-sm     */
    width: 70%;
    padding-block: 6px;
    padding-inline: 6px;
    font-size: 14px;
    outline: none;
    border: 2px solid #ccc ;
    border-radius: 5px;
  }

  .dark .couponContent .couponInput{
    /* w-2/3 text-xs outline-none border border-gray-200 py-2 md:py-3 px-2 rounded-sm     */
    border: 2px solid #3e3e3e;
    background: #18181b;
  }

  .couponContent .couponApplyBtn{
    /* w-1/3 text-xs bg-green-900 text-white px-2 py-1 rounded-sm font-semibold    */
    width: 30%;
    padding-block: 2px;
    padding-inline: 6px;
    font-size: 14px;
    outline: none;
    border: 2px solid #ccc ;
    border-radius: 5px;
    font-weight: 600;
    background: #025239;
    color: #fff;
  }

  .dark .couponContent .couponApplyBtn{
    border: 2px solid #545454;
    border-radius: 5px;
    background: #b4b4b4;
    color: #000000;
  }

  /* LES TABLES DU RESTAURANTS */
  .modalContent .restaurantTableConten select{
    width: 100%;
    border-radius: 5px;
    outline: none;
    /* box-shadow: 2px 2px 2px #00000022; */
    background: #fff;
    border: 2px solid #bbb6b6;
  }

  .dark .modalContent .restaurantTableConten select{
    border: 2px solid #3e3e3e;
    background: #18181b
  }


  .modalContent .restaurantTableConten select:focus{
    outline: none;
    border: 2px solid rgb(104, 102, 102);
    box-shadow: 0 0 0;
  }

  .btnClickCommande{
    /* px-3 py-2 bg-[--color1-green] text-white rounded-sm w-full font-semibold */
    width: 100%;
    padding-inline: 9px;
    padding-block: 6px;
    background: #025239;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    box-shadow: 2px 2px 5px #c1c1c1c9;
  }

  
  .dark .btnClickCommande{
    background: #cdcdcd;
    box-shadow: 2px 2px 5px #262424f5;
    color: black;
    font-weight: bold;
  }

  .nbreProduits{
    /* text-lg font-bold text-gray-700 */
    font-size: 20px;
    font-weight: 500;
    color: #2f2e2e;
  }

  .dark .nbreProduits{
    color: #8b8888;
  }
  
  .rabais{
    /* text-sm text-gray-800 */
    font-size: 16px;
    font-weight: 500;
    color: #1e1d1d;
  }
  
  .dark .rabais{
    color: #c2c2c2;
  }
  
  .total{
    font-size: 18px;
    font-weight: 500;
    color: #1e1d1d;
  }
  
  .dark .total{
    color: #b7b4b4;
  }

  
  .telechargementBtns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    gap: 4px;
    margin-top: 14px;
  }

/*************** LES ALERTES D'ERREUR ***************/
.alert.alert-danger{
  color: #ff0404;
  font-size: 14px;
}