/* notifications.css */


.fi-main{
    background: #e8e8e8;
    min-height: 100vh;
}

.dark .fi-main{
    background: #000000;
}

.notifications-container {
    max-width: 80rem; /* 5xl */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 100%;
  }
  
  .notifications-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 10px;

  }
  
  .notifications-title {
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold;
    color: #ce9c2d; /* text-green-900 */
  }
  
  .notifications-count {
    background-color: #ce9c2d;
    color: white;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
  }
  
  .alert-success {
    background-color: #d1fae5;
    border-left: 4px solid #22c55e;
    color: #15803d;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .alert-error {
    background-color: #fecaca;
    border-left: 4px solid #ef4444;
    color: #b91c1c;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .notification-filters {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    overflow-x: auto;
    padding-bottom: 0.5rem;
  }
  
  .filter-btn {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background-color: white;
    font-weight: 500;
    transition: background-color 0.4s, color 0.4s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
  }
  
  
  .dark .filter-btn {
    background: #1f1f1f;
  }
  
  @media (min-width: 768px) {
    .filter-btn {
      font-size: 0.9375rem;
    }
  }
  
  .filter-btn.active {
    background-color: #ce9c2d;
    color: white;
  }
  
  .filter-btn:hover {
    background-color: #ce9c2d;
    color: white;
  }
  
  .notifications-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .notification-card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .dark .notification-card {
    background: #18181b;
    box-shadow: 2px 2px 5px #1b1919;
  }
  
  .notification-card:hover {
    transform: translateY(-2px);
  }
  
  .notification-card.unread {
    background: #f5f5f9;
    border-left: 4px solid #ce9c2d;
  }
  
  
  .dark .notification-card.unread {
    background: #1f1f1f;
    border-left: 4px solid #ce9c2d;
  }
  
  .notification-content {
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
  }
  
  .notif-icon_details {
    /* display: flex; */
    /* gap: 1rem; */
  }
  
  @media (min-width: 768px) {
    .notif-icon_details {
      gap: 0.5rem;
    }
  }
  
  .notification-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-shrink: 0;
    margin-right: 0;
  }
  
  @media (min-width: 768px) {
    .notification-icon {
      width: 3rem;
      height: 3rem;
    }
  }
  
  .icon-connection,
  .icon-reservation {
    background-color: #ce9c2d;
  }
  
  .notification-details {
    flex-grow: 1;
  }
  
  .notification-details .notif-body {
    font-size: .85rem;
    padding-block: .4rem;
    color: #5e5a5a;
  }
  
  .dark .notification-details .notif-body {
    color: #999999;
  }
  
  .notification-details .notif-body span {
    font-weight: 600;
    font-size: .92rem;
  }

  
  .notification-title {
    font-weight: 600;
    color: #111827;
  }
  
  .dark .notification-title {
    color: #ffffff;
  }
  
  .notification-time {
    font-size: 0.875rem;
    color: #626366;
  }
  
  
  .dark .notification-time {
    color: #706e6e;
  }
  
  .notification-message {
    color: #374151;
    margin-bottom: 0.5rem;
  }
  
  .dark .notification-message {
    color: #bfbfbf;
  }
  
  .notification-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .notification-user {
    font-size: 0.875rem;
    color: #6b7280;
    font-weight: 600;
  }
  
  .notification-actions {
    display: flex;
    gap: 0.5rem;
  }
  
  .action-btn {
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .mark-read {
    background-color: #e9e9e9;
    color: #374151;
  }
  
  
  .mark-read:hover {
    background-color: #e5e7eb;
  }
  
  .delete-btn {
    background-color: #fee2e2;
    color: #dc2626;
  }
  
  .delete-btn:hover {
    background-color: #fecaca;
  }

  .deleteNotif {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f87171;
  }
  
  .empty-notifications {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #6b7280;
  }
  
  .pagination-container {
    margin-top: 2rem;
  }
  
  @media (max-width: 640px) {
    .notification-icon {
      margin-right: 0;
    }
  }
  
  /* BOITE DE CONFIRMATION  */
  .confirmationBox{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000014;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.confirmationContent{
    width: 100%;
    max-width: 450px;
    background: #fff;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #00000012;
}

.confirmationContent h3, .confirmationContent p{
    color: black;
}


.confirmationContent .btnAnnulerCmd{
    padding: 8px 8px;
    background: #e4e4e7;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.confirmationContent .btnConfirmerCmd{
    padding: 8px 8px;
    background: #003b27;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.notifIconBox{
  position: relative;
}
.notifIconBox .nbreNotifs{
  /* @apply absolute -top-3 -right-0 text-[8px] text-white w-[15px] h-[15px] bg-[#1A1F2C] rounded-full flexCenter; */
  position: absolute;
  top: -6px;
  right: -3px;
  font-size: 6px;
  color: white;
  width: 13px;
  height: 13px;
  background: #1A1F2C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc
}

.notifIconBox .iconNotif, .dark .notifIconBox .iconNotifDark{
  display: flex;
}

.dark .notifIconBox .iconNotif, .notifIconBox .iconNotifDark{
  display: none;
}


/* UTILITAIRES GÉNÉRAUX POUR LA PAGINATION*/
.flex { display: flex; }
.items-center { align-items: center; }
.justify-between { justify-content: space-between; }
.justify-between { justify-content: space-between; }
.hidden { display: none; }
.block { display: block; }

.sm\\:flex-1 { flex: 1 1 0%; }
.sm\\:flex { display: flex; }
.sm\\:items-center { align-items: center; }
.sm\\:justify-between { justify-content: space-between; }

.inline-flex { display: inline-flex; }
.relative { position: relative; }
.text-sm { font-size: 0.875rem; }
.font-medium { font-weight: 500; }

.text-gray-500 { color: #6b7280; }
.text-gray-700 { color: #374151; }
.text-gray-300 { color: #d1d5db; }
.text-gray-400 { color: #9ca3af; }
.dark\\:text-gray-300 { color: #d1d5db; }
.dark\\:text-gray-400 { color: #9ca3af; }
.dark\\:text-gray-600 { color: #4b5563; }

.bg-white { background-color: #ffffff; }
.bg-gray-800 { background-color: #1f2937; }
.dark\\:bg-gray-800 { background-color: #1f2937; }
.dark\\:active\\:bg-gray-700 { background-color: #374151; }

.border { border-width: 1px; }
.border-gray-300 { border-color: #d1d5db; }
.dark\\:border-gray-600 { border-color: #4b5563; }

.rounded-md { border-radius: 0.375rem; }
.rounded-l-md { border-top-left-radius: 0.375rem; border-bottom-left-radius: 0.375rem; }
.rounded-r-md { border-top-right-radius: 0.375rem; border-bottom-right-radius: 0.375rem; }

.px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.px-4 { padding-left: 1rem; padding-right: 1rem; }
.py-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.ml-3 { margin-left: 0.75rem; }
.-ml-px { margin-left: -1px; }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }

.leading-5 { line-height: 1.25rem; }
.transition { transition-property: all; transition-duration: 150ms; transition-timing-function: ease-in-out; }

.ease-in-out { transition-timing-function: ease-in-out; }
.duration-150 { transition-duration: 150ms; }

.shadow-sm { box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05); }

.focus\\:outline-none:focus { outline: 0; }
.focus\\:ring:focus { box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); }
.focus\\:border-blue-300:focus { border-color: #93c5fd; }
.focus\\:z-10:focus { z-index: 10; }

.active\\:bg-gray-100:active { background-color: #f3f4f6; }
.active\\:text-gray-700:active { color: #374151; }
.dark\\:focus\\:border-blue-700:focus { border-color: #1e40af; }
.dark\\:focus\\:border-blue-800:focus { border-color: #1e3a8a; }

.hover\\:text-gray-500:hover { color: #6b7280; }
.hover\\:text-gray-400:hover { color: #9ca3af; }
.dark\\:hover\\:text-gray-300:hover { color: #d1d5db; }

/* TAILLE SVG */
.w-5 { width: 1.25rem; }
.h-5 { height: 1.25rem; }


/* SIDEBAR */

/* 
.notif-container {
  position: relative;
  z-index: 1000;
  background: #00000050;
  width: 100%;
  height: 100%;
} */

/* .notif-bell {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
} */

.notif-drawer .notifs{
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  top: 0;
  right: 0;
  height: 100vh;
  min-width: 350px;
  max-width: 450px;
  background-color: #ffffff;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.dark .notif-drawer .notifs{
  background-color: #18181b;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
}

 .notif-drawer .notif-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.fi-modal-header{
  border-left: 2px solid #dbdbde;
}

.dark .fi-modal-header{
  border-left: 2px solid #414142;
}

.dark .notif-drawer .notif-header h2 {
  color: #1e1c1c;
  font-weight: bold;
}

.notif-drawer .notif-header h2 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
}

.notif-drawer .notif-close {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #6b7280;
}

.btnActions{
  margin-top: 1rem;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  gap: 10px;
}

.dark .btnActions .btnToutMarquer{
  color: #fbbf24;
  transition: .4s;
}

.btnActions .btnToutMarquer{
  color: #e8981b;
  transition: .4s;
}

.btnActions .btnToutMarquer:hover{
  text-decoration: underline;
  transition: .4s;
}

.btnActions .btnToutEffacer{
  color: #e64444;
  transition: .4s;
}

.dark .btnActions .btnToutEffacer{
  color: #f87171;
  transition: .4s;
}

.btnActions .btnToutEffacer:hover{
  text-decoration: underline;
  transition: .4s;
}

.notif-drawer .notif-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.notif-drawer .notif-card {
  border-bottom: 1px solid #dbdbde;
  border-left: 2px solid #e8981b;
  padding: 1rem;
  position: relative;
}

.dark .notif-drawer .notif-card {
  border-bottom: 1px solid #4e4e52;
  border-left: 2px solid #fbbf24;
  padding: 1rem;
  position: relative;
}

.dark .notif-drawer .notif-title {
  color: #eeeeee;
}

.notif-drawer .notif-title {
  margin-bottom: 0.25rem; 
  margin-right: 20px;
  font-weight: 500;
  color: #1e1c1c;
  font-size: .9rem;
}

.notif-drawer .notif-body {
  font-size: 0.84rem;
  color: #606061;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.dark .notif-drawer .notif-body {
  color: #b9b9b9;
}

.notif-drawer .notif-body span {
  font-weight: 600;
}

.notif-drawer .notif-action {
  font-size: 0.85rem;
  color: #e8981b;
  transition: .4s;
  font-weight: 500;
}

.notif-diff-time{
  font-size: 0.73rem;
  color: #959393;
}

.dark .notif-diff-time{
  font-size: 0.73rem;
  color: #959393;
}

.notif-drawer .notif-action:hover {
  border-bottom: 1px solid #fbbf24;
  transition: .4s
}

.notif-drawer .notif-empty {
  text-align: center;
  color: #9ca3af;
  font-size: 0.9rem;
}
