.pageCheckout{
    @apply w-full;
    background: #f5f5f5;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}


.pageCheckout .modes{
    @apply w-full  flex flex-col md:flex-row items-start gap-5;
    min-height: 100vh;
    /* color: #939393; */
}

.pageCheckout .modes .infosClient{
    @apply w-[100%] h-full md:w-[65%] p-10;
    min-height: 100vh;
    background: #fff;
    box-shadow: 2px 0 3px #ccccccdc;
}

.pageCheckout .modes .contactInfos .infosContent, .editOrderModal .contactInfos .infosContent{
    @apply w-full md:flex gap-5 flex-wrap grid grid-cols-1;
}

.pageCheckout .modes .contactInfos input,  .editOrderModal .contactInfos  input{
    @apply outline-none;
    border: none;
    padding: .2rem 0;
}

.pageCheckout .modes .contactInfos input:focus,  .editOrderModal .contactInfos  input:focus{
    outline: none;
    @apply ring-0
}

.pageCheckout .modes .contactInfos input::placeholder,  .editOrderModal .contactInfos input::placeholder{
    @apply text-[#939393];
}

.pageCheckout .contactInfos .icon-input,  .editOrderModal .contactInfos .icon-input{
    @apply w-full max-h-16 flex items-center gap-3 border rounded-sm py-2 px-3;
    box-shadow: 2px 2px 2px #ececec9c;
    background: #f0f0f0;
}

.pageCheckout .contactInfos .icon-input input,  .editOrderModal .contactInfos .icon-input input{
    background: transparent;
}

/* MODE DE LIVRAISON */

.modeDeLivraison .modesDeLivraisonContent input:checked + label{
    @apply bg-[--color1-green] text-white;
}

.modeDeLivraison .modesDeLivraisonContent label{
    @apply px-3 py-[0.6rem] rounded-md border border-gray-200 font-semibold text-sm cursor-pointer bg-white hover:bg-[--color1-green] hover:text-white;
    box-shadow: 2px 2px 2px #45434315;
}

.modeDeLivraison .adresseLivraison .defaultAdresse label{
    @apply px-3 py-[0.6rem] rounded-md border border-gray-200 font-semibold text-sm cursor-pointer bg-white hover:bg-[--color1-green] hover:text-white;
    box-shadow: 2px 2px 2px #45434315;
}

.modeDeLivraison .adresseLivraison .defaultAdresse input{
    @apply hidden;
}

.modeDeLivraison .adresseLivraison .defaultAdresse input:checked + label{
    @apply bg-[--color1-green] text-white;
}

.modes .btnSubmit{
    @apply bg-[--color2-yellow] text-white px-5 py-2 rounded-sm font-bold my-7;
    box-shadow: 2px 2px 2px #4543434f;
}


/* MODE DE PAYEMENT */

.modePayement .modesPayementContent, .modeDeLivraison .modesDeLivraisonContent{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.6rem 0.9rem;
    margin: 0.75rem 0;
    width: 100%;
    border-radius: 6px;
    background: #f0f0f0;
    box-shadow: 2px 2px 2px #7c7b7b35, -2px -2px 2px #7c7b7b35;
}

.modePayement .modesPayementContent div, .modeDeLivraison .modesDeLivraisonContent div{
    @apply my-3;
}


.modePayement .modesPayementContent input{
    @apply hidden;
}

.modePayement .modesPayementContent input:checked + label{
    @apply bg-[--color1-green] text-white;
}

.modePayement .modesPayementContent label{
    @apply px-3 py-[0.6rem] rounded-md border border-gray-200 font-semibold text-sm cursor-pointer bg-white hover:bg-[--color1-green] hover:text-white;
    box-shadow: 2px 2px 2px #45434315;
}

/************* La section d'a droite pour les totaux *********/

.modes .totaux{
    @apply w-[100%] md:w-[35%] my-5  py-7 bg-white rounded-md shadow-md border;
}

.modes .totaux .titre{
    @apply font-bold text-[1.4rem] px-3 py-2 mb-3 flex gap-3;
    border-bottom: 1px dotted #ccc;
}

.modes .totaux .nbreProduits{
    @apply text-[1rem] px-3 py-4 text-center bg-[#f4f4f4] text-[--black] flexBetween;
}

.modes .totaux .nbreProduits h5{
    @apply font-bold;
}

.modes .totaux .nbreProduits p{
    @apply font-bold text-lg;
}

.payement_details .detail{
    @apply flexBetween py-3 px-3
}

.payement_details .detail.total{
    @apply font-bold text-lg;
    background: #ececec;
}

.btnPasserCmd{
    @apply ml-3 bg-[--color2-yellow] text-[1rem] font-bold text-gray-100 px-3 py-2 mb-3 mt-5 max-w-[200px] mx-auto rounded-sm border border-[--color2-yellow] hover:text-[--color2-yellow] hover:bg-white;
}

/* Message dd'erreur */
.alert-danger{
    @apply font-bold;
}