.monCompte{
    @apply md:mt-[--topBarHeight-md] mt-[--topBarHeight] h-full px-5 bg-[#e8e8e8] h-full py-5 flex flex-wrap;
}

.monCompte section{
    @apply min-w-full md:min-w-[400px] w-full shadow-md rounded-md p-5;
    background: #f9f8f8;
}

.monCompte .profilInput{
    @apply mt-1 block w-full md:p-3 p-2;
    box-shadow: 2px 2px 2px #cccccc94 inset, -2px -2px 2px #cccccc94 inset;
}

.badge.bg-success{
    @apply bg-[--color1-green] text-white px-2 py-1 rounded-sm font-semibold;
}

.badge.bg-warning{
    @apply bg-yellow-500 text-white px-2 py-1 rounded-sm font-semibold;
}

.badge.bg-danger{
    @apply bg-red-700 text-white px-2 py-1 rounded-sm font-semibold;
}